.carrousel {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;
}

.slider-screen {
    width: 100%;
    height: 100%;
}

.slider-screen img {
    height: 47rem;
    object-fit: cover;
}

.slider-izquierdo, .slider-derecho {
    width: 5%;
    cursor: pointer;
}

.slider-izquierdo {
    position: absolute;
    top: 20rem;
    left: .5rem
}

.slider-derecho {
    position: absolute;
    top: 20rem;
    left: 90rem;
}

.slider-izquierdo img, .slider-derecho img {
    width: 100%;
}

.slider-screen img {
    width: 100%;
}
