* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}


@import '_header.scss';

@import '_carrousel.scss';

@import '_divisor.scss';

@import '_contenidoppal.scss';

@import '_footer.scss';

@import '_whatsapp.scss';

@import '_responsive.scss';


/* ----------------------------------MENU------------------------------------------ */

@import '_menu.scss';

@import '_responsive-menu.scss';

/* ----------------------------------DELIVERY--------------------------------------- */

@import '_delivery.scss';

@import '_responsive-delivery.scss';

