* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    overflow-x: hidden;
}
/* ---------------------------HEADER--------------------------- */
header {
    background-color: #121110;
    border-bottom: 4px solid #D5B812;
    /* position: sticky;
    top: 0;
    z-index: 1000; */
}

.logotipo {
    width: 25rem;
    height: 15rem;
    display: block;
    margin: auto;
}

.navbar__container {
    width: 100%;
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #D5B812;
}

.navbar__link {
    display: inline-block;
    margin: 10px 20px;
    transition: .5s;
}

.navbar__link:hover{
    transform: scale(1.15);
}

.navbar__link a {
    text-decoration: none;
    color: #D5B812;
    font-size: 1.5rem;
    font-family: 'Raleway';
    font-weight: 400;  
}

.reserva {
    border: 2px solid #D5B812;
    padding: 4px;  
    border-radius: 2px;
}

.reserva:hover {
    border-color: #968350;
}

.navbar__link a:hover{
    color: #968350;
}


/* Cuando el scroll baje se va a modificar el logotipo por un logo más pequeño ubicandose en el lado izquierdo y el navbar al derecho */

/* --------CARROUSEL------- */
.carrousel {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;
}

.slider-screen {
    width: 100%;
    height: 100%;
}

.slider-screen img {
    height: 47rem;
}

.slider-izquierdo, .slider-derecho {
    width: 5%;
    cursor: pointer;
}

.slider-izquierdo {
    position: absolute;
    top: 20rem;
}

.slider-derecho {
    position: absolute;
    top: 20rem;
    left: 90rem;
}

.slider-izquierdo img, .slider-derecho img {
    width: 100%;
}

.slider-screen img {
    width: 100%;
}


/* ---------------------------MAIN-INDEX-------------------------- */
/* -----------DIVISOR------------- */


.hr__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 3rem;
}

.hr__container .divisor {
    flex-grow: 1;
    border: none;
    border-top: 2px solid #D5B812; 
    border-radius: 10px;
}

.imagen {
    width: 18.75rem;
    height: 14.75rem;
}

.divisor__sections {
    display: none;
}
/* ------------------------------- */

.info1__container, .info2__container {
    display: flex;
    margin-top: 4rem;
}

.info__imagen, .info__imagen__derecha {
    width: 45%;
    height: 28.44rem;
    transition: transform 0.5s ease;
}

.info__imagen:hover {
    transform: rotate(10deg) translateX(-10px) translateY(-10px);
}

.info__imagen__derecha:hover {
    transform: rotate(-10deg) translateX(-10px) translateY(-10px);
}

.info__hrvertical {
    border: 1.5px solid #D5B812;
    height: 25rem;
    width: 0;
    margin: 30px 100px;
}

.info1__texto {
    padding-right: 6rem;
    
}

.texto__titulo {
    font-family: 'Raleway';
    font-weight: 500;   
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
}

.texto__parrafo {
    font-family: 'Raleway';
    font-weight: 500;   
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.info2__container{
    flex-direction: row-reverse;
}

.info2__texto {
    padding-left: 6rem;
}

/* ---------------------------FOOTER--------------------------- */

footer {
    width: 100%;
    height: 6.25rem;
    background-color: #121110;
    border-top: 4px solid #D5B812;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

.copyright {
    color: #D5B812;
    font-size: 1rem;
    font-family: 'Raleway';
    font-weight: 400;   
}

.social {
    width: 250px;
    display: flex;
    justify-content: space-around;
}

.social__logo {
    width: 30px;
    height: 30px; 
    transition: .3s; 
}

.social__logo:hover {
    transform: scale(1.1);
}

.footer__navbar {
    width: 300px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.footer__link a {
    text-decoration: none;
    color: #D5B812;
    font-size: 1rem;
    font-family: 'Raleway';
    font-weight: 400;   
}

.footer__link {
    transition: .3s;
}

.footer__link:hover {
    transform: scale(1.1);
}

.footer__link a:hover {
    color: #968350;
}

.mobile__footer {
    display: none;
}

/* -----------WHATSAPP------------- */
.whatsapp {
    width: 3.75rem;
    height: 3.75rem;
    position: fixed;
    top: 41.875rem;
    left: 90rem;
    z-index: 900;
}


/* 
==========================================               ========================================== 
========================================== MEDIA QUERIES ========================================== 
==========================================               ========================================== 
*/

@media screen and (max-width: 1200px) {
        .info__container{
            flex-direction: column;
            align-items: center;
        }
        .info__hrvertical{
            display: none;
        }

        .info1__texto , .info2__texto{
            padding: 0 12rem;
        }

        .texto__parrafo{
            text-align: center;
        }
        
        .divisor__sections {
            display: block;
            border: 2px solid #D5B812;
            margin: 2rem 8rem;
            border-radius: 10px;
        }

        .whatsapp {
            top: 33rem;
            left: 67rem;
        }
}

@media screen and (max-width: 780px) {
    .info__imagen, .info__imagen__derecha {
        width: 70%;
    }

    .info1__texto , .info2__texto{
        padding: 0 7rem;
    }

    .whatsapp {
        top: 28rem;
        left: 43rem;
    }
}

@media screen and (max-width: 480px){
    .info__imagen, .info__imagen__derecha {
        width: 100%;
    }

    .info1__texto , .info2__texto{
        padding: 0 3rem;
    }

    .divisor__sections {
        margin: 2rem 2rem;
    }
    
    .copyright {
        display: none;
    }
    
    .social {
        display: none;
    }
    
    .footer__navbar {
        display: none;
    }
    
    footer {
        height: 9rem;
    }
    .mobile__footer {
        width: 100%;
        height: 100%;
        display: block;
    }    
    
    .mobile__footer--navbar {
        list-style-type: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .mobile__footer--navbar a {
        text-decoration: none;
        color: #D5B812;
        font-size: 1.2rem;
        font-family: 'Raleway';
        font-weight: 500;   
        border: 2px solid #D5B812;
        border-radius: 2px;
        padding: 4px 4px 0 4px;
    }
    
    .mobile__footer--item:active {
        box-shadow: 4px 4px 5px #D5B812;
    }
}


/* ----------------------------------MENU------------------------------------------ */

.menu__titulo { 
    text-align: center;
    margin: 4rem 0 1rem 0;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.8rem;
}

.menu__subtitulo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    color: #D5B812;
}

.menu__navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.menu__navbar a {
    text-decoration: underline;
    letter-spacing: 6px;
    text-underline-offset: .5rem;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
    margin: 1.3rem 1.3rem;
    cursor: pointer;
}

.menu__navbar a:hover {
    color: #D5B812;
}

.container__columnas {
    display: flex;
    justify-content: space-evenly;
}

.columna__izquierda {
    display: flex;
    flex-direction: column;
}

.columna__derecha {
    display: flex;
    flex-direction: column;
}

.item {
    list-style-type: none;
    text-align: center;
    font-style: 'Raleway';
    font-weight: 500;
    font-size: 1.5rem;
    margin: 1rem;
}

.bloque__comida { 
    margin-bottom: 2rem;
}

/* 
==========================================     MENU      ========================================== 
========================================== MEDIA QUERIES ========================================== 
==========================================     MENU      ========================================== 
*/


@media screen and (max-width: 480px) {
    .container__columnas {
        flex-direction: column;
    }
}